// Theme
$_theme_accent: #60cdff;
$_theme_accentTextColor: #121212;
$_theme_accentHoverBrightness: 1.1;
$_theme_accentActiveBrightness: 0.9;

// TitleBar
$titleBar_titleColor: #fff;

// TitleBarOverlay
$titleBarOverlay_buttonHoverBackground: rgba(255, 255, 255, 0.1);
$titleBarOverlay_buttonActiveBackground: rgba(255, 255, 255, 0.2);
$titleBarOverlay_buttonCloseHoverBackground: #c82c1c;
$titleBarOverlay_buttonCloseActiveBackground: #b3271c;
$titleBarOverlay_buttonCloseActiveTextColor: #e5aba7;
$titleBarOverlay_buttonTextColor: #fff;
$titleBarOverlay_buttonCloseHoverTextColor: #fff;

// RootLayout
$rootLayout_background: #242424d1;

// NavigationView
$navigationView_titleBarTitleTextColor: #fff;
$navigationView_buttonHoverBackground: rgba(255, 255, 255, 0.05);
$navigationView_buttonActiveBackground: rgba(255, 255, 255, 0.03);
$navigationView_buttonTextColor: #fff;
$navigationView_buttonEnabledBackground: rgba(255, 255, 255, 0.08);
$navigationView_contentAreaBackground: rgba(255, 255, 255, 0.05);
$navigationView_titleBarTextColor: #fff;
$navigationView_leftSideBarFloatingBackground: #1e1e1e;
$navigationView_leftSideBarFloatingBorder: #383a39;
$navigationView_leftSideBarHrBackground: #333;

// Dialog
$dialog_backdropBackground: rgba(0, 0, 0, 0.5);
$dialog_windowBackground: #202020;
$dialog_windowFooterBackground: #191919;
$dialog_windowTitleColor: #fff;
$dialog_windowBodyColor: #d5d5d5;

// Button
$button_background: rgba(255, 255, 255, 0.05);
$button_borderNotBottomColor: rgba(255, 255, 255, 0.05);
$button_borderBottomColor: rgba(255, 255, 255, 0.05);
$button_activeBorderBottomColor: rgba(255, 255, 255, 0.05);
$button_textColor: #fff;
$button_hoverBackground: rgba(255, 255, 255, 0.08);
$button_activeBackground: rgba(255, 255, 255, 0.02);
$button_activeTextColor: #999;

// TextBox
$textBox_background: rgba(255, 255, 255, 0.06);
$textBox_hoverBackground: rgba(255, 255, 255, 0.08);
$textBox_borderNotBottomColor: rgba(255, 255, 255, 0.02);
$textBox_borderBottomColor: #999;
$textBox_inputTextColor: #fff;
$textBox_focusBorderNotBottomColor: rgba(255, 255, 255, 0.1);
$textBox_focusBackgroundColor: transparent;

// ------ | LIGHT | ------- //

// Theme
//$_theme_accent: #007aad;
//$_theme_accentTextColor: #fff;
//$_theme_accentHoverBrightness: 0.9;
//$_theme_accentActiveBrightness: 1.1;
//
//// TitleBar
//$titleBar_titleColor: #000;
//
//// TitleBarOverlay
//$titleBarOverlay_buttonHoverBackground: rgba(0, 0, 0, 0.1);
//$titleBarOverlay_buttonActiveBackground: rgba(0, 0, 0, 0.2);
//$titleBarOverlay_buttonCloseHoverBackground: #c82c1c;
//$titleBarOverlay_buttonCloseHoverTextColor: #fff;
//$titleBarOverlay_buttonCloseActiveBackground: #b3271c;
//$titleBarOverlay_buttonCloseActiveTextColor: #e5aba7;
//$titleBarOverlay_buttonTextColor: #000;
//
//// RootLayout
//$rootLayout_background: #f1f1f1;
//
//// NavigationView
//$navigationView_titleBarTitleTextColor: #fff;
//$navigationView_buttonHoverBackground: rgba(0, 0, 0, 0.05);
//$navigationView_buttonActiveBackground: rgba(0, 0, 0, 0.03);
//$navigationView_buttonTextColor: #000;
//$navigationView_contentAreaBackground: rgba(255, 255, 255, 0.6);
//$navigationView_titleBarTextColor: #000;
//$navigationView_leftSideBarFloatingBackground: #e7e7e7;
//$navigationView_leftSideBarFloatingBorder: #d4d4d4;
//$navigationView_leftSideBarHrBackground: #d5d4d4;
//
//// Dialog
//$dialog_backdropBackground: rgba(0, 0, 0, 0.5);
//$dialog_windowBackground: #eeeeee;
//$dialog_windowFooterBackground: #e8e8e8;
//$dialog_windowTitleColor: #000;
//$dialog_windowBodyColor: #3e3e3e;
//
//// Button
//$button_background: rgba(255, 255, 255, 0.6);
//$button_borderNotBottomColor: rgb(227, 227, 227);
//$button_borderBottomColor: rgb(210, 210, 210);
//$button_activeBorderBottomColor: rgb(227, 227, 227);
//$button_textColor: #000;
//$button_hoverBackground: rgba(255, 255, 255, 0.4);
//$button_activeBackground: rgba(255, 255, 255, 0.3);
//$button_activeTextColor: #999;
//
//// TextBox
//$textBox_background: #fff;
//$textBox_borderNotBottomColor: #dbdbdb;
//$textBox_borderBottomColor: #8b8b8b;
//$textBox_inputTextColor: #000;
//$textBox_hoverBackground: #fff;
//$textBox_focusBorderNotBottomColor: #dbdbdb;
//$textBox_focusBackgroundColor: #fff;

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-track {
	background: #121212;
}

::-webkit-scrollbar-thumb {
	background: #707070;
}
