// Theme
$_theme_accent: #50ffab;
$_theme_accentTextColor: #121212;

// TitleBar
$titleBar_titleColor: #fff;

// TitleBarOverlay
$titleBarOverlay_buttonHoverBackground: rgba(255, 255, 255, 0.1);
$titleBarOverlay_buttonActiveBackground: rgba(255, 255, 255, 0.2);
$titleBarOverlay_buttonCloseHoverBackground: #c82c1c;
$titleBarOverlay_buttonCloseActiveBackground: #b3271c;
$titleBarOverlay_buttonCloseActiveTextColor: #e5aba7;
$titleBarOverlay_buttonTextColor: #fff;

// RootLayout
$rootLayout_background: #242424d1;

// NavigationView
$navigationView_mainAreaBackground: rgba(255, 255, 255, 0.05);
$navigationView_titleBarTitleTextColor: #fff;
$navigationView_buttonHoverBackground: rgba(255, 255, 255, 0.05);
$navigationView_buttonActiveBackground: rgba(255, 255, 255, 0.03);
$navigationView_buttonTextColor: #fff;
$navigationView_contentAreaBackground: rgba(255, 255, 255, 0.05);
$navigationView_titleBarTextColor: #fff;
$navigationView_leftSideBarFloatingBackground: #1e1e1e;
$navigationView_leftSideBarFloatingBorder: #383a39;

// Dialog
$dialog_backdropBackground: rgba(0, 0, 0, 0.5);
$dialog_windowBackground: #202020;
$dialog_windowFooterBackground: #191919;
$dialog_windowTitleColor: #fff;
$dialog_windowBodyColor: #d5d5d5;

// Button
$button_background: rgba(255, 255, 255, 0.05);
$button_textColor: #fff;
$button_hoverBackground: rgba(255, 255, 255, 0.08);
$button_activeBackground: rgba(255, 255, 255, 0.02);
$button_activeTextColor: #999;

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-track {
	background: #121212;
}

::-webkit-scrollbar-thumb {
	background: #707070;
}
