// TitleBar
$titleBar_titleColor: #fff;

// TitleBarOverlay
$titleBarOverlay_buttonHoverBackground: rgba(255, 255, 255, 0.1);
$titleBarOverlay_buttonActiveBackground: rgba(255, 255, 255, 0.2);
$titleBarOverlay_buttonCloseHoverBackground: #c82c1c;
$titleBarOverlay_buttonCloseActiveBackground: #b3271c;
$titleBarOverlay_buttonCloseActiveTextColor: #e5aba7;
$titleBarOverlay_buttonTextColor: #fff;

// RootLayout
$rootLayout_background: #242424d1;

// NavigationView
$navigationView_mainAreaBackground: rgba(255, 255, 255, 0.05);
$navigationView_titleBarTitleTextColor: #fff;
$navigationView_buttonHoverBackground: rgba(255, 255, 255, 0.05);
$navigationView_buttonActiveBackground: rgba(255, 255, 255, 0.03);
$navigationView_buttonTextColor: #fff;
$navigationView_contentAreaBackground: rgba(255, 255, 255, 0.05);
$navigationView_titleBarTextColor: #fff;
$navigationView_leftSideBarFloatingBackground: #242424;
