@import "../ColorTheme.scss";

.root {
	width: 100%;
	height: 100%;
}

.largeTitleBar {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 10px;
	position: relative;
	-webkit-app-region: drag;

	& > span {
		color: $navigationView_titleBarTextColor;
		font-size: 12px;
		user-select: none;
		font-weight: lighter;
	}
}

.largeTitleBarNavigationButton {
	-webkit-app-region: no-drag;
}

.largeTitleBarCover {
	position: absolute;
	top: 0;
	left: 0;
	width: 44px;
	border-radius: 0 8px 0 0;
	height: 50px;
	background: transparent;
	z-index: -1;
	transition: 300ms;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
}

.largeTitleBarCoverOpened {
	@media (max-width: 1000px) {
		width: 320px;
		border-right: 1px solid $navigationView_leftSideBarFloatingBorder;
		border-top: 1px solid $navigationView_leftSideBarFloatingBorder;
		background: $navigationView_leftSideBarFloatingBackground;
	}
}

.leftMainArea {
	display: flex;
	width: 100%;
	height: 100%;
}

.leftContentArea {
	height: 100%;
	width: 100%;
	transition: 300ms;
	border-radius: 8px 0 0 0;
	background: $navigationView_contentAreaBackground;

	@media (max-width: 1000px) {
		width: calc(100% - 50px);
		margin-left: 50px;
	}

	@media (max-width: 600px) {
		width: 100%;
		margin-left: 0;
		border-radius: 0;
	}
}

.leftContainer, .topContainer {
	height: 100%;
	width: 100%;
}

.leftContainer {
	height: calc(100% - 50px);
	position: relative;
}

.leftButton {
	border: none;
	border-radius: 4px;
	margin-left: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 35px;
	background: transparent;
	color: $navigationView_buttonTextColor;
	font-size: 16px;

	&:hover {
		background: $navigationView_buttonHoverBackground;
	}
}

.leftButtonNavigation {
	@media (max-width: 600px) {
		display: none;
	}
}

.largeTitleBarNavigationButton {
	overflow: hidden;
	transition: 100ms;
	width: 0;
	height: 35px;
	background: transparent;
	color: $navigationView_buttonTextColor;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;

	&:hover {
		background: $navigationView_buttonHoverBackground;

		&:active {
			background: $navigationView_buttonActiveBackground;
		}
	}

	@media (max-width: 600px) {
		width: 40px;
	}
}

.leftTextButton {
	width: 40px;
	min-height: 35px;
	border: none;
	display: flex;
	align-items: center;
	padding-left: 12px;
	background: transparent;
	border-radius: 4px;
	font-size: 16px;
	margin: 0 0 5px 5px;
	color: $navigationView_buttonTextColor;

	&:hover {
		background: $navigationView_buttonHoverBackground;
		
		&:active {
			background: $navigationView_buttonActiveBackground;
		}
	}
}

.leftTextButtonText {
	width: 0;
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 13px;
}

.leftSideBar {
	width: 50px;
	transition: 300ms;
	display: flex;
	flex-direction: column;

	@media (max-width: 1000px) {
		position: absolute;
		left: 0;
		height: 100%;
		border-radius: 0 0 8px;
	}

	@media (max-width: 600px) {
		transform: translate(-100%);
	}

	& > div {
		display: flex;
		flex-direction: column;
	}
}

.leftSideBarOpened {
	width: 320px;
	
	@media (max-width: 1000px) {
		background: $navigationView_leftSideBarFloatingBackground;
		border-right: 1px solid $navigationView_leftSideBarFloatingBorder;
		border-bottom: 1px solid $navigationView_leftSideBarFloatingBorder;
	}

	@media (max-width: 600px) {
		transform: translate(0);
	}
}

.leftContentAreaSideBarOpened {
	width: calc(100% - 250px);

	@media (max-width: 1000px) {
		width: 100%;
	}
}

.leftSearchBar {
	padding: 10px 20px;
	width: 100%;

	input {
		width: 100%;
	}
}

.leftTextButtonOpened {
	width: calc(100% - 10px);

	& > span {
		width: initial;
		display: flex;
		margin: 0 5px;
		padding: 0;
		overflow: hidden;
	}
}

.leftSideBarMain {
	height: 100%;
	overflow: auto;

	& > hr {
		width: 100%;
		border: none;
		height: 1px;
		background: $navigationView_leftSideBarHrBackground;
		margin-top: 2px;
	}
}
