@import "../ColorTheme.scss";

.root {
	color: $button_textColor;
	background: $button_background;
	font-size: 13px;
	border: 1px solid $button_background;
	border-radius: 4px;
	padding: 0 10px;
	height: 30px;
	min-width: 80px;
	transition: 100ms;

	&:hover {
		background: $button_hoverBackground;

		&:active {
			background: $button_activeBackground;
			color: $button_activeTextColor;
		}
	}
}

.fluid {
	width: 100%;
}

.primary {
	background: $_theme_accent;
	color: $_theme_accentTextColor;
	border: none;

	&:hover {
		background: $_theme_accent;
		color: $_theme_accentTextColor;
		filter: brightness($_theme_accentHoverBrightness);

		&:active {
			background: $_theme_accent;
			color: $_theme_accentTextColor;
			filter: brightness($_theme_accentActiveBrightness);
		}
	}
}