@import "../ColorTheme.scss";

.root {
	background: $titleBar_background;
	-webkit-app-region: drag;
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	padding: 0 10px;
}

.title {
	color: $titleBar_titleColor;
	font-size: 12px;
	margin-left: 15px;
}
