@import "../ColorTheme.scss";

.root {
	background: $titleBar_background;
	-webkit-app-region: drag;
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	padding: 0 10px;
}

.title {
	color: $titleBar_titleColor;
	font-size: 12px;
	margin-left: 15px;
}

.windowButtonsWrapper {
	margin-right: -10px;
	height: 100%;
	display: flex;
}

.windowButton {
	height: 32px;
	width: 45px;
	border: none;
	-webkit-app-region: no-drag;
	background: transparent;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $titleBar_windowButtonTextColor;

	&:hover {
		background: $titleBar_windowButtonHoverBackground;

		&:nth-child(3) {
			background: $titleBar_windowButtonCloseHoverBackground;
		}

		&:active {
			background: $titleBar_windowButtonActiveBackground;

			&:nth-child(3) {
				background: $titleBar_windowButtonCloseActiveBackground;
				color: $titleBar_windowButtonCloseActiveTextColor;
			}
		}
	}
}

.centerContent {

}