* {
	box-sizing: border-box;
}

body {
	background: url(https://4kwallpapers.com/images/wallpapers/windows-11-flow-dark-mode-dark-background-pink-3840x2160-5747.jpg);
	background-position: center;
	background-size: 100%;
	/* background: #000; */
}