@import "../ColorTheme";

.root {
	width: 100%;
}

.input {
	border-radius: 4px;
	position: relative;
	width: 100%;
	height: 30px;
	background: $textBox_background;
	border: 1px solid $textBox_borderNotBottomColor;
	border-bottom-color: $textBox_borderBottomColor;

	&:after {
		position: absolute;
		display: flex;
		width: 100%;
		height: 1px;
		content: "";
		bottom: 0;
	}

	& > input {
		width: 100%;
		height: 100%;
		background: transparent;
		color: $textBox_inputTextColor;
		border: none;
		outline: none;
		padding: 0 10px;
	}

	&:hover {
		background: $textBox_hoverBackground;
	}

	&:focus-within {
		border-color: $textBox_focusBorderNotBottomColor;
		border-bottom-color: $_theme_accent;
		background: $textBox_focusBackgroundColor;

		&:after {
			background: $_theme_accent;
		}
	}
}